name: Create Rubin environment from conda

on:

  # Runs this workflow automatically
  schedule:
    - cron: 55 6 * * *
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.13"
          miniforge-version: latest
          channels: conda-forge,defaults
          show-channel-urls: true

      - name: Install rubin-env
        shell: bash -l {0}
        env:
          CONDA_ALWAYS_YES: "true"
          CONDA_ALLOW_SOFTLINKS: "true"
        run: |
          conda install --yes rubin-env-rsp==13.0.0dev

      - name: Get dependency changes from installing LSDB
        shell: bash -l {0}
        run: |
          conda update --dry-run lsdb

      - name: Install LSDB
        shell: bash -l {0}
        run: |
          conda update lsdb

      - name: Run test modules
        shell: bash -l {0}
        run: |
          python src/lsdb_rubin/rsp_tests/critical_functions.py
          python src/lsdb_rubin/rsp_tests/random_access.py
